*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    color:white;
    background-color: black;
    background-image: url(bg.jpg);
}
header{
    background: linear-gradient(#04549D, #02315F);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}
header div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header .header_links{
    align-content: flex-end;
}
header a{
    color: white;
    text-decoration: none;
    border: white solid 2px;
    border-radius: 4px;
    padding: 3px 5px;
    margin: 0px 5px;
}
header a:hover{
    background-color: white;
    color: #02315F;
}
.container{
    width: 80%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.container h2{
    padding: 20px;
    color: #02315F;
}
 @media screen and (max-width:750px) {
     .container{
         width: 100%;
     }
     header{
         grid-template-columns: 1fr;
         grid-template-rows: 1fr 1fr;
     }
 }
